.control-label {
  padding-right: 20px;
  font-weight: bold;
  word-wrap: normal;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
}

.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link {
  background: transparent;
  color: #444;
  border: 1px solid transparent;
  border-radius: 0;
  margin: 0;
  padding: 10px 15px;
}

.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active {
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
  border-top: 3px solid #0d6efd;
  border-bottom-color: transparent;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
  cursor: default;
}

.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active:hover,
.nav-tabs-custom > .nav-tabs > .nav-item > .nav-link.active:focus {
  background-color: #fff;
  color: #555;
  border: 1px solid #ddd;
  border-top: 3px solid #0d6efd;
  border-bottom-color: transparent;
}

#main.content-wrapper {
  margin-left: var(--sidebar-width);
  border-left: none;
  min-height: 87.5vh !important;
  background-color: #ecf0f5;
  overflow: auto;
  overflow-x: hidden;
  transition: margin-left 0.1s ease;
}

.fixed-bottom {
  margin-left: var(--sidebar-width);
}

.input-group-addon {
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
  border: var(--bs-gray- #ced4da);
  border: 1px solid #ced4da;
}

.fixed-border-color {
  border-bottom: 0.5px solid #ced4da;
}

.hr.border-bottom {
  border: none;
  border-bottom: 1px solid #ced4da !important;
}

button.btn.btn-box-tool {
  padding: 5px;
  font-size: 12px !important;
  background: transparent;
  color: #97a0b3;
  box-shadow: none;
}

ul.jstree-container-ul.jstree-children {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.btn-group.float-end.edit-file {
  padding: 15px 15px 5px !important;
}

.fixed-contents-color {
  background-color: #0d6efd;
}

.form-select {
  display: unset !important;
  width: unset !important;
}

.form-group.row {
  padding-bottom: 5px;
}

.bootstrap-duallistbox-container.row.moveonselect label {
  font-weight: bold;
}

.btn-default:hover {
  background-color: #e7e7e7 !important;
}

.btn-info {
  --bs-btn-color: #fff;
}

/* style header */
.custom-navbar .header-items > a:hover,
.custom-navbar .header-items > ul > li:hover,
.custom-navbar .navbar-brand :hover {
  background: transparent !important;
}

.custom-menu > ul > li.active {
  background: transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary.dropdown-toggle.show {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
}

.btn-outline-secondary {
  box-shadow: none !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-outline-secondary.active {
  background-color: #fff !important;
  border-color: #fff !important;
}

ul.dropdown-menu {
  transform: translate(0, 36px) !important;
}

ul.dropdown-menu-end.user-menu {
  transform: translate(0, 0) !important;
}

ul.dropdown-menu-end.notifications-menu-dropdown {
  transform: translate(0, 14px) !important;
}

.show {
  box-shadow: none !important;
}

.custom-menu ul li ul {
  border-left: none !important;
}

.custom-navbar .navbar-brand span {
  color: white !important;
}

section.content {
  padding-top: 15px;
}

span.d-none d-sm-inline {
  color: white;
}

.table-responsive th.column-__actions__ {
  text-align: start;
}

.table-responsive .__actions__div {
  background: none;
}

a {
  text-decoration: none !important;
}

.content > *:not(footer) {
  flex-grow: 1;
}

footer {
  margin-top: auto;
}

a#menu-toggle {
  color: white;
}

.user-panel {
  margin-top: 0px;
  padding: 0.5rem 1.2rem;
}

.text-dotted {
  text-decoration-style: dotted;
}

.btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}

.row h4 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.sidebar.collapse:not(.show) {
  width: 0;
  overflow: hidden;
}

.sidebar.collapse:not(.show) ~ #main.content-wrapper {
  margin-left: 0;
}

.sidebar.collapse:not(.show) ~ .app-footer {
  margin-left: 0;
  transition: margin-left 0.1s ease !important;
}

.navbar-brand.logo.collapse-target.collapse:not(.show) {
  width: 0;
  overflow: hidden;
  transition: width 0.1s ease;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  transition: width 0.1s ease;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}

.btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: none;
}

#filter-box > form > div.box-footer > div > div {
  display: flex;
}

.d-flex.flex-column.align-items-center {
  padding-top: 165px;
}

.col-form-label {
  text-align: right;
  font-weight: 700 !important;
}

.btn-default {
  background-color: #f4f4f4 !important;
  color: #444 !important;
  border-color: #ddd !important;
}

.btn-outline-secondary i:hover {
  color: #111010 !important;
}

.hide {
  display: none !important;
}

form.search-form {
  margin: 0 0 0 20px !important;
}

.header-items.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.custom-navbar .valign-header > *,
.custom-navbar .navbar-brand,
.custom-navbar .header-items > .nav {
  line-height: 0px !important;
}

html {
  font-size: 13px !important;
}

.btn-sm,
.btn-group-sm > .btn,
.btn.btn-sm.btn-success,
.btn-group,
.btn {
  font-size: 14px !important;
  width: auto;
  height: fit-content;
}

.btn-ssm {
  font-size: 14px !important;
  width: auto;
  padding: 0.25px 5px 0.25px 5px;
}

.btn.btn-primary.btn-file {
  margin: 0px;
}

/*select2*/
.select2-container.select2-container--default.select2-container--open {
  z-index: 5000;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0d6efd;
  color: white;
}

span.bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #0d6efd !important;
}

.card.custom-border-success {
  border-top: 3px solid #00a65a;
}

.card.custom-border-secondary {
  border-top: 3px solid #00a65a;
}

.card.shadow.rounded.p-4.login-box-wide {
  max-width: fit-content;
  width: 900px;
}

.card.shadow.rounded.p-4 {
  width: 500px;
}

span.select2-selection__clear {
  position: absolute !important;
  top: 50%;
  right: 24px;
  transform: translateY(-60%);
}

span.select2-selection.select2-selection--multiple {
  border: none !important;
  background: none !important;
}

button.btn.moveall.btn-outline-secondary,
button.btn.removeall.btn-outline-secondary {
  background-color: #f4f4f4 !important;
  border-color: #ddd !important;
  color: #444;
  border: 1px solid #ddd !important;
}

button.btn.moveall.btn-outline-secondary:hover,
button.btn.removeall.btn-outline-secondary:hover {
  background-color: #f5f5f5 !important;
  border-color: #adadad !important;
}

label.form-label {
  display: block;
}

select.form-select {
  display: block !important;
  width: 100% !important;
}

button.btn.btn-sm.clear1 {
  font-size: 10px !important;
  background-color: #f4f4f4;
  color: #444;
  padding-bottom: 1px !important;
  border-color: #ddd;
}

button.btn.btn-sm.clear1:hover {
  border-color: #adadad;
}

select[id^=bootstrap-duallistbox-] {
  border-color: #ddd;
}

select[id^=bootstrap-duallistbox-]:hover {
  border-color: #0d6efd;
  box-shadow: none;
}

select[id^=bootstrap-duallistbox-]:focus-visible {
  outline: 0;
  -webkit-appearance: none;
}

.alert.alert-info.alert-dismissable.pt-0 {
  background: #00c0ef !important;
}

.editable-buttons .editable-cancel {
  padding-left: 12px !important;
}

.box {
  border-radius: 6px;
  border-top: 3px solid #d2d6de;
}

.box.box-success {
  border-top-color: #00a65a;
}

.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

.btn-info:hover {
  background-color: #00a8cc;
  border-color: #00a8cc;
  color: #fff;
}

.custom-menu a:active,
.custom-menu a:focus,
.custom-menu li > ul > li.active a {
  color: #444;
}

main#main {
  height: 91vh;
}

span.long.user-image img {
  width: unset;
  object-fit: contain !important;
}

button.close.fileinput-remove {
  border: none;
  background: none;
}

#totop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 99999;
  outline: none;
  background-color: rgb(34, 45, 50);
  color: rgb(238, 238, 238);
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  opacity: 0.5;
}

.user-image {
  width: 25px;
  height: 25px;
  line-height: unset;
  margin-right: 10px !important;
}

.file-drop-zone {
  min-height: unset !important;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.skin-blue-light .main-header .navbar,
.skin-blue-light .main-header .logo,
.skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
  background-color: #3A96FF !important;
}

.table tr th.column-__row_selector__,
.table tr td.column-__row_selector__ {
  padding-left: 0.75rem !important;
}

.table tr th a {
  font-size: 1.2rem !important;
}

.table-responsive th.column-__actions__ {
  padding-right: unset !important;
}

.table-responsive th.column-__actions__,
.column-__actions__ {
  min-width: 0;
}

.btn-flat:hover {
  background-color: #fff !important;
}

button#search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div#main {
  min-height: unset !important;
}

.custom-navbar ul.user-menu {
  width: 20rem;
}

#app > .content {
  margin-bottom: 0 !important;
}

.app-footer {
  margin-left: var(--sidebar-width);
  min-height: 5rem;
}

.select2-search__field:focus-visible {
  outline: none;
}

.box-footer.border-top.border-1.border-gray-500 {
  text-align: -webkit-right;
}

.skin-blue-light.sidebar-mini.side-menu-closed .sidebar .user-panel > .image > img {
  width: 30px;
  height: 30px;
  transition: width 0.1s ease, height 0.1s ease;
}

.skin-blue-light.sidebar-mini.side-menu-closed .sidebar .user-panel > .info,
.skin-blue-light.sidebar-mini.side-menu-closed #menu > li.header {
  display: none;
}

.skin-blue-light.sidebar-mini.side-menu-closed #main,
.skin-blue-light.sidebar-mini.side-menu-closed > .wrapper > footer {
  margin-left: 54px;
  transition: margin-left 0.1s ease;
}

.skin-blue-light.sidebar-mini.side-menu-closed .sidebar .user-panel {
  padding: 0.5rem 0.8rem;
}

.side-menu-closed .custom-menu > ul > li:hover ul,
.side-menu-closed .custom-menu > ul > li:hover > a > span {
  background: #f4f4f5;
}

.side-menu-closed .custom-menu > ul > li:hover > a > span {
  margin: 2px 0 0 3px;
}

.select2-container .select2-selection--single,
.input-group,
.input-group .input-group-btn .btn {
  height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 29px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 29px;
}

span.select2.select2-container.select2-container--default {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

span.select2.select2-container.select2-container--default.select2-container--focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  outline: none;
}

.select2-selection.select2-selection--single {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

span.select2-dropdown.select2-dropdown--below {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-left: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.select2-selection__arrow {
  height: 100%;
  position: absolute;
  right: 0.75rem;
}

.input-group.flex-nowrap .input-group .form-control {
  width: 100px !important;
  flex-grow: 0 !important;
  border: 1px solid var(--bs-gray- #e9ecef);
}

.form-control {
  box-shadow: none !important;
}

.main-header .navbar .nav > li > a > .label {
  position: absolute;
  text-align: center;
  padding: 1px 2px;
  line-height: 0.9;
  top: -8px;
  right: 8px;
  border-radius: 3px;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}

a.fa.fa-fw.fa-sort:hover,
a.fa.fa-fw.fa-sort:active,
a.fa.fa-fw.fa-sort:focus {
  outline: none;
  text-decoration: none !important;
  color: #72afd2 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}

body > div.wrapper > header > div > ul > li.navbar-notify.dropdown.notifications-menu > ul {
  width: 400px;
}

.row.align-items-center .pull-right {
  width: unset;
}

ul.menu.p-3.border-bottom:hover {
  background: #f4f4f4;
  text-decoration: none;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4 !important;
}

.btn .fa {
  margin-right: 0px !important;
}

/*show fontawesome-iconpicker*/
.fade.in {
  opacity: 1;
}

button.btn.btn-info.btn-upload.submit_disabled.text-white {
  background-color: #5bc0de;
  border-color: #46b8da;
}

label.control-label.table-label {
  padding: 10px 0px;
}

/* datetimepicker*/
.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  padding: 5px;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
  background-image: linear-gradient(top, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdd49a", endColorstr="#fdf59a", GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
}

.collapse.in {
  display: block;
}

hr {
  border-top: 1px solid #c7c7c7 !important;
}

.btn-group > a.btn {
  border-radius: 3px !important;
}

.input-group-btn > button.btn {
  border-radius: 0 3px 3px 0 !important;
}

.row-eq-height > [class^=col-] {
  margin-bottom: 0 !important;
}

.box.box-info:where([class="box box-info"]) {
  border-top: 3px solid #00c0ef !important;
}

.modal-lg, .modal-xl {
  --bs-modal-width: 900px;
}

.field-header {
  margin-left: 70px;
}

.form-horizontal .row {
  margin-bottom: 0px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-white a {
  color: white !important;
  text-decoration: underline !important;
}

.treeview .has-subs::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  transition: transform 0.3s;
  top: 19px !important;
}

.treeview .has-subs.active::after {
  transform: rotate(135deg);
}

@media (min-width: 768px) {
  .col-md-6 {
    padding: 12px;
  }
}
.box1.col-md-6,
.box2.col-md-6 {
  padding: 0px 15px !important;
}

@media (max-width: 768px) {
  #main.content-wrapper {
    margin-left: 0;
  }
  .fixed-bottom {
    margin-left: 0;
  }
  .nav {
    margin-bottom: 10px;
  }
  form.search-form {
    margin: 0 !important;
  }
  .btn-sm.btn-danger {
    padding: 0.5rem !important;
  }
}
@media (max-width: 768px) {
  .box-footer {
    justify-content: end;
  }
  .field-header {
    margin-left: 0;
  }
}

/*# sourceMappingURL=custom.css.map */
